.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.weatherBox {
  border-radius: 25px;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: dodgerblue;
  background-image: "nodata-cropped.png";
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  gap: 8px; 
  margin-left: 10px;
}

.currentWeatherIco {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  margin-top: 10px;
  margin-right: 10px;
  background-color:rgb(143, 143, 130);
  border-radius: 25px;
}

.currentWeatherIcoDetailed {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  margin-top: 10px;
  margin-right: 10px;
}

.currentWeatherBar {
  font-size: 40pt;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

.currentLocation {
  font-size: 36pt;
  color: white;
}

.futureWeatherBar{
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

